{% extends "base.html" %}
{% block content %}
<h2>User List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.role.name }}</td>
            <td>{{ user.created_by }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
